.matchDataTable {
  width: 100%;
  font-family: 'Asenine';
  border-collapse: collapse;
  tbody {
    font-size: 1.5rem;
    tr {
      &.separator {
        height: 0.75rem;
      }
    }
    td {
      font-weight: lighter;
      letter-spacing: 0.12rem;
      &:first-child {
        font-weight: bold;
      }
      &:not(:first-child) {
        text-align: center;
      }
    }
  }
  thead {
    @extend tbody;
    font-size: 1.6rem;
    letter-spacing: normal;
    td {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.table {
  position: absolute;
  z-index: 2;
  width: 74%;
  color: white;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  tr {
    td {
      &:last-child {
        border-right: 0;
      }
      &:first-child {
        border-left: 0;
      }
    }
  }
}
