.matchDataTable {
  width: 100%;
  font-family: 'OpenSans';
  border-collapse: collapse;
  height: 45%;
  tbody {
    font-size: 1.3rem;
    tr {
      &.separator {
        height: 1rem;
      }
    }
    td {
      padding-top: 0.3rem;
      font-weight: lighter;
      &:first-child {
        font-weight: bold;
      }
      &:not(:first-child) {
        text-align: center;
      }
    }
  }
  thead {
    @extend tbody;
    font-size: 1.2rem;
    td {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.table {
  position: absolute;
  z-index: 2;
  width: 73%;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  tr {
    td {
      &:last-child {
        border-right: 0;
      }
      &:first-child {
        border-left: 0;
      }
    }
  }
}
