$default-font-size: 1.7rem;

.matchDataTable {
  width: 100%;
  font-size: $default-font-size;
  font-family: 'Asenine';
  letter-spacing: 0.07rem;
  border-collapse: collapse;
  tbody {
    tr {
      &.seperator {
        height: 1.6rem;
      }
    }
    td {
      padding: 0.2rem;
      font-weight: lighter;
      letter-spacing: 0.12rem;
      &:first-child {
        font-size: $default-font-size + 0.2rem;
        font-weight: bold;
      }
      &:not(:first-child) {
        text-align: center;
      }
    }
  }
  thead {
    @extend tbody;
    letter-spacing: normal;
    td {
      font-weight: normal !important;
      font-size: $default-font-size * 0.85 !important;
      opacity: 0.8;
      text-transform: uppercase;
    }
  }
}

.table {
  position: absolute;
  z-index: 2;
  width: 75%;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  tr {
    td {
      border: 1px solid rgba(255, 255, 255, 0.3);
      &:last-child {
        border-right: 0;
      }
      &:first-child {
        border-left: 0;
      }
    }
  }
}
