.table {
  width: 100%;
  background-color: white;
  color: #1a2f42;
  text-align: center;
  thead {
    width: 100%;
    tr {
      width: 100%;
      background-color: #fff;
      border-bottom: 2px solid #1a2f42;
      th {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    width: 100%;
    tr {
      width: 100%;
      padding: 0;
      &:hover {
        background-color: #e0fdef !important;
      }
      &:nth-child(even) {
        background-color: #f3f8fb;
      }
      td {
        padding: 0;
      }
    }
    tr.primary-50 {
      background-color: #e0fdef !important;
    }
    tr.primary-100 {
      background-color: #bbf2d7 !important;
    }
  }
}
