$border-color: #ccc;
$primary-color: #2fca7e;
$secondaryColor: #1a2f42;

.navbar {
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background-color: $secondaryColor;
  color: #ddd;
}

.navItem {
  padding: 1rem;
  border-color: darken($secondaryColor, 10);
  transition: border-bottom 0.2s ease-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 -4px 1px -1px lighten($primary-color, 10) inset;
  }
}

.navButton {
  &:hover {
    background-color: lighten($secondaryColor, 10) !important;
  }
}
