.topPerformers {
  width: 100%;
  height: auto;
  position: relative;
  color: white;
  font-family: 'ArcaMajora2';
  .templatePhoto {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .topText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 1rem;
    z-index: 2;
    flex-wrap: nowrap;
    text-align: center;
    .orgName {
      font-size: 1.5rem;
    }
    .topTen {
      font-size: 4rem;
      line-height: 4rem;
    }
    .eventName {
      font-size: 2.3rem;
    }
  }
}
