.table {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  overflow: hidden;
  table-layout: fixed;
  thead {
    background-color: darken(#2fca7e, 5);
    // background: linear-gradient(90deg, #0ea059, #2fca7e);
    color: white;
  }
  tbody {
    tr {
      transition: background-color 0.2s ease-out;
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
  td {
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.4rem;
    border-bottom: 1px solid #aaa;
    &:first-child {
      text-align: left;
      width: 25%;
    }
    @media screen and (min-width: 62em) {
      font-size: 1rem;
      padding: 0.75rem;
    }
  }
  th {
    @extend td;
    font-weight: 700;
  }
}
