.article {
  color: #25334b;
  font-size: 16px;
  display: flex;
  width: 100%;
  font-weight: 400;
  flex-direction: column;

  h1 {
    font-size: 24px;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #44d48c, #1e9158);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    background: -webkit-linear-gradient(top, #a5b3cb, #3f4d65);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    font-weight: 700;
    color: #3f4d65 !important;

    &:hover {
      color: #30c97b !important;
    }
  }

  ul {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;

    li > img {
      display: inline-block;
    }
  }

  img {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  iframe {
    display: inline;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    img {
      max-width: 95%;
      margin: 0 auto;
      text-align: center;
    }
  }
}
