.article {
  color: #25334b;
  font-size: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;

  a {
    font-weight: 700;

    &:hover {
      color: #30c97b;
    }
  }

  ul {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;

    li > img {
      display: inline-block;
    }
  }

  img {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  iframe {
    display: inline;
    width: 100%;
  }
}
