.table {
  width: 100%;
  background-color: white;
  color: #1a2f42;
  text-align: center;
  background-image: linear-gradient(to bottom, #e0fdef, #d8e6fe);
  thead {
    width: 100%;
    tr {
      width: 100%;
      background-color: #fff;
      border-bottom: 2px solid #1a2f42;
      th {
        position: sticky;
        top: 0;
        z-index: 4;
        background-color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    width: 100%;
    tr {
      width: 100%;
      padding: 0;
      &:hover {
        font-weight: bold !important;
        background-image: linear-gradient(to right, #e5fff4, #e4f2ff);
        &:nth-child(even) {
          td {
            padding: 0;
          }
        }
        &:nth-child(odd) {
          td {
            padding: 0;
          }
        }
      }

      &:not(:hover) {
        &:nth-child(even) {
          td {
            padding: 0;

            &:not(.selected) {
              background-color: #f1f8ff;
            }
          }
        }
        &:nth-child(odd) {
          td {
            padding: 0;
            &:not(.selected) {
              background-color: #fff;
            }
          }
        }
      }
    }
    tr.total {
      border-top: 1px solid #a5b3cb;
      font-weight: 700;
    }
  }
}

.scoreboard {
  width: 100%;
  color: #1a2f42;
  thead {
    width: 100%;
    tr {
      width: 100%;
      background-color: #fff;
      th {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        min-width: 95px;
        &:first-of-type {
          min-width: 200px;
          width: 200px;
        }
      }
    }
  }
  tbody {
    width: 100%;
    tr {
      width: 100%;
      &:hover {
        background-image: linear-gradient(to right, #e5fff4, #e4f2ff);
      }
      &:nth-child(odd) {
        background-color: #f3f8fb;
      }
      &:last-of-type {
        border-top: 1px solid #bbc3d1;
        font-weight: 600;
      }
      td {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
